Faker==24.3.0
matplotlib==3.10.1
numpy==1.26.4
pandas==2.2.3
plotly==5.24.1
pytest==8.3.5
PyYAML==6.0.1
SQLAlchemy==2.0.29
streamlit==1.42.2
streamlit-antd-components==0.3.2
streamlit-phone-number==0.0.9
streamlit-tags==1.2.8
